table.SimpleCalendar {
  font-family: Arial;
  border-collapse: collapse; }
  table.SimpleCalendar th {
    background: #256193;
    color: #fff;
    font-size: 11px;
    padding: 3px;
    border: 1px solid #ccc;
    border-top: none;
      text-align: center;}
  table.SimpleCalendar tbody td {
    vertical-align: top;
    width: 90px;
    height: 40px;
    border: 1px solid #ccc;
    background: #fff; }
    table.SimpleCalendar tbody td time {
      font-size: .7em;
      display: block;
      padding: 2px;
      text-align: right;
      font-weight: bold; }
    table.SimpleCalendar tbody td.SCsuffix, table.SimpleCalendar tbody td.SCprefix {
      background: white; }
    table.SimpleCalendar tbody td div.event {
      color: #355;
        display: none;
    }
  table.SimpleCalendar tbody td.today {
    background: #ccc ;
  color: #333}

table.SimpleCalendar tbody td.eventParent{
    background: #6fb205;
}

.calendar-birthday-exemple{
    width: 20px;
    height: 20px;
    background: #6fb205;
    border-radius: 40px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
}
