hr {
  background-color: #256193;
  border: 0px;
  height: 1px;
  margin-top: 17px;
  margin-bottom: 17px; }
  hr.dashed {
    background-color: transparent;
    border: 0px;
    height: 1px;
    border-bottom: dashed 1px #256193; }

.the-error-msg ul {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 15px; }
  .the-error-msg ul li {
    list-style: disc; }

.info-block {
  background: #dedede none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 1px 2px #c8c8c8 inset, 0 1px 1px #fafafa;
  color: #b1b1b1;
  cursor: default;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 105px; }
  .info-block b {
    color: #848484;
    display: block;
    font-size: 25px;
    padding: 13px 0 0; }
  .info-block span {
    display: block;
    font-size: 10px;
    padding: 0 0 6px; }

h3.titleblue {
  border: solid 1px #256193;
  padding: 5px;
  background-color: rgba(37, 97, 147, 0.4); }

a.visible {
  text-decoration: underline;
  color: #256193; }

strong {
  font-weight: 600; }

.descriptionServeur {
  border: 1px solid #c1c1c1;
  border-collapse: collapse; }
  .descriptionServeur .gauche {
    background-color: #e0e0e0;
    color: #323232;
    font-weight: 600;
    width: 150px; }
  .descriptionServeur td, .descriptionServeur th {
    border: 1px solid #c1c1c1;
    color: #323232;
    height: 25px;
    padding-left: 10px; }

.profile-info.style2 span.first {
  font-size: 16px;
  width: 200px;
  margin-bottom: 7px;
  margin-top: 12px;
  color: #6fb205; }

.fa-ul.regles li {
  margin-bottom: 8px; }

#header.pageHeader {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

#header.pageHeader.header_num_1 {
  background-image: url("../images/header_csgo.jpg"); }

#header.pageHeader.header_num_2 {
  background-image: url("../images/header_csgo2.jpg"); }

#header.pageHeader.header_num_3 {
  background-image: url("../images/header_dayz.jpg"); }

#header.pageHeader.header_num_4 {
  background-image: url("../images/header_dayz2.jpg"); }

#header.pageHeader.header_num_5 {
  background-image: url("../images/header_dayz3.jpg"); }

#header.pageHeader.header_num_6 {
  background-image: url("../images/header_l4d.jpg"); }

#header.pageHeader.header_num_7 {
  background-image: url("../images/header_l4d2.jpg"); }

#header.pageHeader.header_num_8 {
  background-image: url("../images/header_lol.jpg"); }

#header.pageHeader.header_num_9 {
  background-image: url("../images/header_lol2.jpg"); }

#header.pageHeader.header_num_10 {
  background-image: url("../images/header_lol3.jpg"); }

button.greenbtn {
  background-color: #519623; }
button.disabled {
  background-color: #ccc;
  cursor: default;
  box-shadow: none;
  border: none; }
  button.disabled:hover {
    box-shadow: none;
    border: none; }

.accordion-block p {
  margin-bottom: 15px; }
.accordion-block label {
  margin-right: 15px;
  margin-bottom: 10px; }

.space {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: both;
  height: 1px; }

.vip-grade .card-content {
  text-align: center;
  height: 260px; }
.vip-grade .card-action {
  text-align: center; }
.vip-grade .card-image {
  text-align: center;
  background-color: #fff;
  height: 50px;
  padding-top: 15px; }
  .vip-grade .card-image h5 {
    font-size: 17px; }

ul.list1 li {
  margin-bottom: 15px; }
  ul.list1 li div, ul.list1 li a {
    background: #eaeaea none repeat scroll 0 0;
    color: #454545;
    display: block;
    height: 55px;
    position: relative;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    width: auto; }
    ul.list1 li div:hover, ul.list1 li a:hover {
      background-color: #256193;
      color: #fff; }
      ul.list1 li div:hover span.a-txt .txtblue, ul.list1 li a:hover span.a-txt .txtblue {
        color: #fff; }
    ul.list1 li div strong, ul.list1 li a strong {
      display: block;
      font-size: 15px;
      font-weight: bold;
      overflow: hidden;
      padding: 7px 10px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
    ul.list1 li div span.a-txt, ul.list1 li a span.a-txt {
      display: block;
      float: left;
      font-size: 13px;
      font-weight: normal;
      overflow: hidden;
      padding-left: 10px;
      text-overflow: ellipsis;
      white-space: nowrap; }
      ul.list1 li div span.a-txt .txtblue, ul.list1 li a span.a-txt .txtblue {
        color: #256193;
        font-weight: bold; }
    ul.list1 li div img, ul.list1 li a img {
      display: block;
      float: left;
      height: 55px;
      width: 70px; }

.leftbar {
  border-left: 1px dotted #ccc;
  padding-left: 15px; }

button.info-block {
  color: #fff; }
  button.info-block b {
    color: #fff; }

.row .nemsstory {
  background: #e2e2e2 none repeat scroll 0 0;
  padding: 10px;
  border: solid 1px #BCBCBC;
  margin-bottom: 20px; }

.staff-block .item .item-content span {
  background: #256193 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  margin: 3px 10px 0 0;
  padding: 2px 7px;
  text-shadow: none; }

.avatar-demo {
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: block;
  float: left;
  height: 140px;
  padding: 2px;
  width: 140px;
  margin-right: 10px;
  margin-bottom: 20px; }
  .avatar-demo img {
    width: 134px;
    height: 134px;
    background-color: #fff; }
  .avatar-demo:hover {
    background-color: #256193; }

.btn-file {
  width: 100%; }
  .btn-file .btn-file-left {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #204d74;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #2b3e50;
    display: block;
    font-size: 15px;
    height: 39px;
    line-height: 1.42857;
    padding: 8px 16px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 80%;
    float: left; }
  .btn-file .btn-file-btn {
    background-color: #4e5d6c;
    color: #fff;
    cursor: pointer;
    float: left;
    height: 39px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 20%; }
    .btn-file .btn-file-btn input {
      background: transparent none repeat scroll 0 0;
      cursor: inherit;
      display: block;
      height: 100%;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 100%; }
    .btn-file .btn-file-btn div {
      padding-top: 10px; }

.promo {
  background-image: url("../images/1-promo.png");
  background-repeat: no-repeat;
  height: 166px;
  width: 100%;
  border: solid 1px #AFAFAF;
  background-color: #e9e9e9;
  background-position: -12px -12px;
  padding-left: 77px;
  padding-top: 25px;
  text-align: center; }
  .promo h3 {
    color: #256193; }

#main .promo-info b {
  color: #5f5f5f;
  display: block;
  font-size: 18px;
  margin-bottom: 7px; }
#main .promo-info p {
  color: #9c9c9c;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 19px; }

table.descriptionJoueur {
  border: 1px solid #c1c1c1;
  border-collapse: collapse;
  width: 100%; }
  table.descriptionJoueur td, table.descriptionJoueur th {
    border: 1px solid #c1c1c1;
    color: #323232;
    height: 25px;
    text-align: center;
    vertical-align: middle; }
  table.descriptionJoueur th {
    background-color: #e0e0e0;
    color: #323232;
    font-weight: 600; }

#ui-datepicker-div select {
  color: #333;
  display: inline-block;
  font-size: 12px;
  height: 23px;
  margin-right: 5px;
  padding-top: 3px; }
#ui-datepicker-div .ui-datepicker-month {
  width: 55%; }
#ui-datepicker-div .ui-datepicker-year {
  width: 35%; }

.user-tooltip-info a.username {
  background: #232323;
  color: #fff; }
.user-tooltip-info span.wrapimg {
  display: inline-block;
  position: relative;
  border-radius: inherit;
  -moz-border-radius: inherit;
  overflow: hidden; }

#_strike-user .info .online-user-jeux {
  height: 40px; }

.post-text-block blockquote {
  background: none;
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px; }

.reply-box input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cacaca;
  border-radius: 2px;
  box-shadow: 0 1px 0 #fff, 0 3px 0 rgba(0, 0, 0, 0.02) inset;
  color: #8c8c8c;
  display: inline-block;
  font-size: 12px;
  padding: 7px 12px;
  width: 180px; }

input[type="text"].nj_jetons_paypal {
  border: solid 1px #333;
  width: 40px;
  margin-top: 15px;
  height: 20px;
  padding-left: 5px; }

.user-tooltip-info-wait {
  width: 250px;
  height: 150px;
  background-image: url("../images/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: 150px center; }

.erreur_404 {
  width: 100%;
  text-align: center; }

.cadreGreen {
  padding: 10px;
  border: solid 1px #333;
  background-color: #E0E0E0;
  margin-top: 10px;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */

.cke_editable p{
    margin-top: 0px;
    margin-bottom: 0px;

}

.post-text-block ul{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-text-block ul li{
    margin-left: 10px;
    list-style-type: disc;

}